
<div class='about-header', align="center">
  <div class="col-10 offset-1"> 
    <h1> About Splurty </h1>
  <p>
    Splurty was built by <a target="_blank" href="https://devounedwards.netlify.com/">Devoun</a>. A developer starting out on a journey.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>
<div class="row"> 
  <div class="col-12 col-sm-4", style="margin: auto;"> 
    <%= image_tag 'devoun.JPG', class: 'img-fluid' %>
  </div>
</div>
<div class='col-12 col-sm-7 offset-sm-1'> 
  <h2 class='text-center'>Devoun Edwards</h2>
</div>
<br /> 
  </div> 
</div> 

<br class='clear' /> 
<br /> 
<br /> 
<br /> 
<br /> 